{% extends '::base.html.twig' %} 
{% block title %} 
Felicitaciones
{% endblock %} 

{% block description %} 

{% endblock %} 

{% block keywords %} 

{% endblock %} 

{% block content %}
<div class="container page-content fg-dark">
<div class="cell">
   <div style="max-width: 30rem ! important;" class="notify success">
        <span class="notify-title">Felicitaciones.</span>
        <span class="notify-text">
			{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
        </span>
   </div>
</div>
<br>
<a href="{{ path('index') }}"><button class="button primary">Inicio</button></a>
</div>
</div>
{% endblock %} 
