{% extends '::base.html.twig' %} 
{% block title %} 
Recuperar Contraseña
{% endblock %} 

{% block description %} 

{% endblock %} 

{% block keywords %} 

{% endblock %} 

{% block content %}
<div class="container page-content fg-dark">
<h1><span class="mif-key"></span> Recuperar Contraseña</h1>
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
</div>
</div>
{% endblock %} 
