@CHARSET "UTF-8";
.panelContent{
	font-size: 1rem; 
	text-align: center; 
	margin-top: -3rem;
}
.userForm{
	display: inherit;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	width: 15rem;
}
#fos_user_registration_form_plainPassword_first{
	display: inherit;
	margin-top: 1rem;	
}
#fos_user_registration_form_plainPassword_second{
	display: inherit;
	margin-top: 1rem;	
}
.marginFrame{
  margin-top: 1rem;
  box-shadow: 2px 2px 5px #999;
  padding: 10px;
  background: none repeat scroll 0% 0% #FFF;
  height: 10rem !important;
  width: 10rem !important;
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }