{% extends '::base.html.twig' %} 
{% block title %} 
Editar Perfil
{% endblock %} 

{% block description %} 

{% endblock %} 

{% block keywords %} 

{% endblock %} 
{% block content %}
<div class="container page-content fg-dark">
<h1><span class="mif-profile"></span> Editar Perfil</h1>
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
</div>
{% endblock content %}
