{% extends '::base.html.twig' %} {% block title %} Condiciones de Uso de SeekerPlus {% endblock %} {% block description %}
Condiciones de Uso de SeekerPlus. {% endblock %} {% block keywords
%} Condiciones de Uso de SeekerPlus {% endblock %} {% block
stylesheets %} {{ parent() }} {% endblock %} {% block javascripts %} {{
parent() }} {% endblock %} {% block body %} {% block menu %} {{ parent()
}} {% endblock %} {% block content %}
<div class="container page-content">
	<div>
		<h2 class="c2">
			<center>
				Términos y Condiciones<br>PORTAL DE INTERNET &nbsp;www.seekerplus.co
			</center>
		</h2>
		<p></p>
		<p class="c3">
			<span class="c5">Esta página establece los ‘Términos y Condiciones’
				bajo los cuales los usuarios – consumidores - &nbsp;pueden usar este
				portal dedicado a la facilitación e intermediación para pedir
				domicilios en la ciudad de Bogotá, por medio de la publicación y
				condensación de toda la información necesaria para realizar tal
				labor (cartas, menús, horarios de establecimientos, cobertura de
				domicilios, precios, promociones especiales) así como el
				acompañamiento de personal dedicado y entrenado durante el
				desarrollo de la relación de consumo, buscando siempre la
				satisfacción del consumidor final, como el objetivo fundamental de
				la relación. Se requiere que todo usuario, previo a su registro, lea
				estos términos y condiciones cuidadosamente, y dé el respectivo
				consentimiento expreso acerca de su compresión y aprobación. El
				desconocimiento del contenido de estos términos y condiciones, no
				justifican el incumplimiento de los mismos, y mucho menos, facultan
				a los consumidores para tomar medidas particulares o legales que
				desconozcan lo planteado en estos términos. </span>
		</p>
		<p class="c3">
			<span class="c5">En caso de que estos términos y condiciones no sean
				aceptados, por favor no visite este sitio web, y no utilice de
				ninguna manera los servicios o herramientas que proveemos ya que
				estos están restringidos únicamente a quienes se comprometen a
				respetar los lineamientos acá informados. &nbsp;En este orden, lo
				invitamos a abstenerse de hacer pedidos por intermedio de nuestro
				portal ya que por la complejidad de los servicios que ofrecemos, y
				por la diversidad de factores externos que juegan un rol
				determinante en la adecuada prestación de nuestros servicios, </span><span
				class="c0"><a class="c8" href="http://www.seekerplus.co">www.seekerplus.co</a></span><span
				class="c5">&nbsp;, únicamente puede celebrar relaciones de consumo,
				con quienes puedan aceptar las presentes condiciones y reconocer
				así, que si bien la gran mayoría de nuestros servicios se ejecutan
				sin que se presente inconveniente alguno, pueden presentarse
				situaciones en las que surjan imprevistos, que serán solucionados
				por nosotros de la manera más rápida y eficiente posible, no
				obstante, pueden afectar el curso normal e ideal del servicio
				contratado. </span>
		</p>
		<p class="c3">
			<span class="c0"><a class="c8" href="http://www.seekerplus.co">www.seekerplus.co</a></span><span
				class="c5">, en adelante también referido como EL PORTAL, se exime
				de toda responsabilidad en el caso de que los usuarios utilicen los
				servicios sin consentir a los términos y condiciones del sitio web y
				se reserva la facultad de tomar todas las medidas legales
				pertinentes en estos casos. </span>
		</p>
		<p class="c3">
			<span class="c5">EL PORTAL tiene la facultad y autonomía de modificar
				estos términos y condiciones de manera unilateral, en cualquier
				momento, y no se hace responsable por los perjuicios que dichas
				modificaciones puedan causar a usuarios desinformados ya que es
				exclusiva responsabilidad de los usuarios &nbsp;revisar los términos
				y condiciones de manera periódica para enterarse de potenciales
				modificaciones. </span>
		</p>
		<p class="c1">
			<span class="c5"></span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">DEFINICIONES</h3>
		<p></p>
		<p class="c3">
			<span class="c5">i. "Política de privacidad" Hace referente a la
				política publicada en nuestra plataforma, la cual hace una
				referencia detallada de cómo recolectamos y almacenamos su
				información personal.;</span>
		</p>
		<p class="c3">
			<span class="c5">ii. "Usted", “consumidor”, "usuario", “cliente” y
				"su" Hace referencia a todas las personas que accedan a nuestra
				plataforma y realizan ordenes de bienes o servicios a través de
				nuestra página web, aplicaciones móviles o por vía telefónica
				suministrada por SeekerPlus.com;</span>
		</p>
		<p class="c3">
			<span class="c5">iii. Siempre que se haga referencia a los vocablos
				"Nosotros", "Nuestro", y "SeekerPlus", se está haciendo referencia
				directa a la compañía. Así mismo, podrá usarse el término EL PORTAL
				con el objetivo de referirse a la misma. </span>
		</p>
		<p class="c3">
			<span class="c5">iv. "Bienes", “productos” o “pedido”, &nbsp;hacen
				referencia a los bienes que pueden llegar a ser ofrecidos a través
				de nuestra plataforma día a día.</span>
		</p>
		<p class="c3">
			<span class="c5">v. "Servicio" o "Servicios" Hace referencia a
				cualquier tipo de servicio que sea ofrecido o solicitado a través de
				nuestra plataforma;</span>
		</p>
		<p class="c3">
			<span class="c5">vi. "Plataforma" o “Portal” hace referencia a
				nuestra página o sitio web. </span><span class="c0"><a class="c8"
				href="http://www.seekerplus.co">http://www.seekerplus.co</a></span><span
				class="c5">, y/o a nuestras aplicaciones móviles que contienen los
				bienes y servicios que ofrecemos. </span>
		</p>
		<p class="c1">
			<span class="c5"></span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">USO DEL MATERIAL</h3>
		<p></p>
		<p class="c3">
			<span class="c5">Los usuarios del PORTAL podrán acceder a los
				servicios ofrecidos por medio del PORTAL a través de una aplicación
				móvil o ingresando directamente AL PORTAL. Excepcionalmente también
				se podrán tramitar pedidos por vía telefónica, contactando alguno de
				los números que aparecen referidos en la página de internet. &nbsp;</span>
		</p>
		<p class="c3">
			<span class="c5">EL PORTAL autoriza a los usuarios a consultar,
				revisar y usar el material que se encuentra en el Web Site,
				únicamente para su uso personal y no comercial. El contenido de este
				Web Site, incluyendo pero sin limitarse a los textos, gráficas,
				imágenes, logotipos, iconos, software y cualquier otro material, al
				cual en adelante se hará referencia como El Material, está protegido
				bajo las leyes colombianas de derechos de autor, leyes de propiedad
				industrial y otras leyes aplicables. Todo el Material es de
				propiedad de la Compañía o de sus proveedores o clientes. El uso no
				autorizado del material puede constituir una violación de las leyes
				colombianas o extranjeras sobre derechos de autor, leyes de
				propiedad industrial u otras leyes. Ningún usuario podrá vender o
				modificar el Material de manera alguna ni ejecutar o anunciar
				públicamente el Material ni distribuirlo para propósitos
				comerciales. Tampoco se permitirá copiar o adaptar el código HTML
				que la Compañía crea para generar sus páginas, ya que el mismo está
				protegido por los derechos de autor de la Compañía. Todo uso no
				autorizado se presumirá como indebido y podrá ser sancionado por la
				ley. </span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">USO AUTORIZADO DEL WEB SITE</h3>
		<p></p>
		<p class="c3">
			<span class="c5">SeekerPlus.com es un portal dedicado principalmente
				a la intermediación en el proceso de pedidos de domicilios en la
				ciudad de Bogotá, facilitando las relaciones y transacciones entre
				consumidores y restaurantes – o demás establecimientos de comercio,
				debidamente certificados- por medio del cual se centralizan y
				otorgan al consumidor, todas las herramientas necesarias para que
				éste pida un domicilio al PORTAL, quien a su vez se encargará de
				ejecutar todo el proceso de intermediación desde la recepción del
				pedido, hasta la efectiva entrega de los productos solicitados, en
				el lugar designado por el usuario. SeekerPlus.com, contacta así al
				oferente directo, redirecciona el pedido, se encarga de asegurar su
				disponibilidad – o informar debidamente al consumidor en caso de que
				no estén disponibles los productos solicitados- y hace un
				seguimiento del mismo (recibiendo requerimientos, peticiones y
				reclamos), hasta asegurarse que el pedido fue debidamente entregado
				y que la relación de consumo puede darse por terminada. </span>
		</p>
		<p class="c3">
			<span class="c5">Así, EL PORTAL funge como una herramienta que
				facilita la interacción entre el consumidor y el oferente del
				producto. </span>
		</p>
		<p class="c3">
			<span class="c5">SeekerPlus.com siempre hará su mejor esfuerzo para
				que una vez el pedido haya sido confirmado por parte del
				establecimiento al cual ha sido solicitado, éste llegue de acuerdo a
				las especificaciones contratadas, incluyendo el precio exacto de los
				productos, el método de pago, los productos adquiridos, su tamaño y
				las demás características ofrecidas por medio de la publicidad e
				información suministradas a los consumidores, previo a la aceptación
				del pedido. </span>
		</p>
		<p class="c1">
			<span class="c5"></span>
		</p>
		<h3 class="c2">REGLAS GENERALES</h3>
		<p></p>
		<p class="c3">
			<span class="c5">Los usuarios no pueden usar el Web Site con el fin
				de transmitir, distribuir, almacenar o destruir material (i) en
				violación de cualquier ley aplicable o regulación, (ii) de manera
				que se infrinjan las leyes sobre derechos de autor, propiedad
				industrial, secretos comerciales o cualquier otro derecho de
				propiedad intelectual de terceros o de manera que viole la
				privacidad, publicidad u otros derechos personales de terceros, o
				(iii) en forma que sea difamatoria, obscena, amenazante o abusiva.
				Esto sin perjuicio de normas particulares sobre la materia que sean
				imperativas en cada uno de los ordenamientos jurídicos
				correspondientes a los territorios en los cuales la Compañía
				prestará su servicio. </span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">REGLAS DE SEGURIDAD</h3>
		<p></p>
		<p class="c3">
			<span class="c5">A los usuarios les está prohibido violar o intentar
				violar la seguridad del Web Site. Específicamente los usuarios no
				podrán (i) acceder a información que no esté dirigida o autorizada a
				dicho usuario o acceder a servidores o cuentas a los cuales el
				usuario no está autorizado a acceder, (ii) intentar probar la
				vulnerabilidad de un sistema o red sin la debida autorización o
				violar las medidas de seguridad o autenticación, (iii) intentar
				interferir con los servicios prestados a un usuario, servidor o red,
				incluyendo pero sin limitarse al envió de virus a través del Web
				Site, (iv) enviar correo electrónico no solicitado, incluyendo
				promociones y/o publicidad de productos o servicios. La violación de
				cualquier sistema o red de seguridad puede resultar en
				responsabilidades civiles y penales. La Compañía investigará la
				ocurrencia de hechos que puedan constituir violaciones a lo anterior
				y cooperará con cualquier autoridad competente en la persecución de
				los usuarios que estén envueltos en tales violaciones. (v) suplantar
				la identidad de otros usuarios o de personas naturales o jurídicas
				de cualquier índole. (vi) proporcionar información de identidad
				incorrecta, incompleta o falsa. (vii) Bajo ninguna circunstancia se
				tolerará la acción de hacer pedidos falsos – también conocida como
				pegas- actuar que será denunciado y estará sujeto a las
				prosecuciones legales aplicables. </span>
		</p>
		<p class="c1">
			<span class="c5"></span>
		</p>
		<p class="c3">
			<span class="c5">- El Web Site puede ser usado únicamente para
				propósitos legales. EL PORTAL prohíbe el uso del Web Site en
				cualquiera de las siguientes formas:</span>
		</p>
		<p class="c3">
			<span class="c5">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Incluir
				en el Web Site cualquier información sobre &nbsp;productos a vender
				u ofrecer, falsa o inexacta o información que no corresponda a la
				realidad.</span>
		</p>
		<p class="c3">
			<span class="c5">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Incluir
				en el Web Site cualquier derecho de franquicia, esquema de pirámide,
				membresía a un club o grupo, representación de ventas, agencia
				comercial o cualquier oportunidad de negocios que requiera un pago
				anticipado o pagos periódicos, solicitando el reclutamiento de otros
				miembros, sub-distribuidores o sub-agentes.</span>
		</p>
		<p class="c3">
			<span class="c5">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Borrar
				o revisar cualquier material incluido en el Web Site por cualquiera
				otra persona o entidad, sin la debida autorización.</span>
		</p>
		<p class="c3">
			<span class="c5">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usar
				cualquier elemento, diseño, software o rutina para interferir o
				intentar interferir con el funcionamiento adecuado de este Web Site
				o cualquier actividad que sea llevada a cabo en el Web Site. </span>
		</p>
		<p class="c3">
			<span class="c5">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Intentar
				descifrar, compilar o desensamblar cualquier software comprendido en
				el Web Site o que de cualquier manera haga parte del Web Site. </span>
		</p>
		<p class="c3">
			<span class="c5">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Como
				ya se mencionó, está terminantemente prohibido incluir en Web Site
				información falsa, inexacta, incompleta, incorrecta o engañosa. </span>
		</p>
		<p class="c3">
			<span class="c5">Los passwords, contraseñas, usuarios y demás
				información requerida para el acceso al Portal, son personales e
				intransferibles y no puede ser compartido con nadie. Solo la persona
				autorizada directamente, que haya consentido a los términos y se
				haya registrado debidamente, puede hacer uso de dicha información y
				acceder al Portal. Cada usuario es responsable por mantener la
				confidencialidad de su password o contraseña y por &nbsp;todos los
				usos de su registro en Web Site, sean o no autorizados por el
				usuario. En caso de cualquier irregularidad, el usuario acuerda
				notificar inmediatamente a la Compañía acerca de cualquier uso no
				autorizado de su registro y password o contraseña</span>
		</p>
		<p class="c1">
			<span class="c5"></span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">INFORMACIÓN DE LOS USUARIOS</h3>
		<p></p>
		<p class="c3">
			<span class="c5">Cada vez que un usuario se registre en el Web Site,
				se le solicitará que suministre a la Compañía cierta información,
				incluyendo pero sin limitarse a nombre completo con apellidos,
				identificación, fecha de nacimiento, una dirección válida de correo
				electrónico. En adición a los términos y condiciones que puedan ser
				previstos en otras políticas de privacidad en este Web Site, los
				usuarios entienden y consienten que la compañía puede revelar a
				terceras personas, sobre bases anónimas, cierta información
				contenida en su solicitud de registro, como sería siempre el caso de
				la dirección de entrega y el nombre del cliente, información
				requerida por todos los restaurantes afiliados. La Compañía no
				revelará a terceras personas, distintas al restaurante al cual se le
				está haciendo el pedido, &nbsp;el nombre, dirección, dirección de
				correo electrónico o número telefónico sin el consentimiento
				expresado a través de las diferentes herramientas o sistemas
				previstos en el Web Site, salvo en la medida en que sea necesario o
				apropiado para cumplir con las leyes aplicables o con procesos o
				procedimientos legales en los que tal información sea pertinente. La
				Compañía se reserva el derecho de ofrecer servicios o productos de
				la Compañía o de terceras personas, basados en las preferencias que
				cada usuario haya identificado en su solicitud de registro o en
				cualquier momento posterior a la misma, incluyendo, pero sin
				limitarse, a gustos y/o preferencias que EL PORTAL pueda inferir por
				cantidad de pedidos realizados o por tendencias particulares de cada
				usuario. Tales ofertas podrán ser hechas por la ¿???? </span>
		</p>
		<p class="c3">
			<span class="c5">Dado que EL PORTAL no puede verificar la información
				suministrada por los usuarios, en particular, la veracidad y
				actualidad de la misma, es obligación de cada usuario suministrar
				información cierta, completa, verificable y real, y será
				responsabilidad de cada usuario, de manera exclusiva, las
				consecuencias jurídicas o extra jurídicas que se puedan generar con
				ocasión a la información suministrada. </span><span class="c0"><a
				class="c8" href="http://www.seekerplus.co">www.seekerplus.co</a></span><span
				class="c5">&nbsp; se libera de toda consecuencia patrimonial que
				eventualmente quede a cargo de un usuario que infrinja esta
				obligación. </span>
		</p>
		<p class="c3">
			<span class="c5">EL PORTAL se reserva el derecho de expulsar usuarios
				o de prohibir su acceso futuro al Web Site por violación de estos
				Términos y Condiciones o de la ley aplicable. </span>
		</p>
		<p class="c3">
			<span class="c5">Toda información que sea suministrada por usuarios o
				clientes será guardada en un servidor externo y un back up en el
				sistema. Se guardará de forma indefinida y conforme a las leyes de
				protección de datos vigentes, ninguna persona natural o jurídica
				tendrá acceso a esta información, distinta al personal autorizado y
				designado por EL PORTAL, salvo que medie una clara autorización por
				parte del usuario para volver la información pública o permitir el
				acceso a esta por parte de otras personas naturales o jurídicas. </span>
		</p>
		<p class="c3">
			<span class="c5">EL PORTAL utilizará todos los medios posibles para
				velar por la seguridad de la información. </span>
		</p>
		<p class="c3">
			<span class="c5">Cada usuario es responsable por sus propias
				comunicaciones e información y por las consecuencias de incluir o
				colocar dicha información o comunicaciones en el Web Site. Ningún
				usuario podrá: (i) incluir o colocar en Web Site material que esté
				protegido por las leyes sobre derechos de autor, a menos que se sea
				el propietario de tales derechos o haya obtenido permiso del
				propietario de tales derechos para incluir tal material en Web Site,
				(ii) incluir o colocar en el Web Site material que revele secretos
				industriales o comerciales, a menos que se sea el propietario de los
				mismos o haya obtenido autorización del propietario, (iii) incluir
				en el Web Site material que de cualquier forma pueda implicar una
				violación de derechos de propiedad intelectual o industrial o
				cualquier otro derecho, (iv) incluir material que sea obsceno,
				difamatorio, abusivo, amenazante u ofensivo para cualquier otro
				usuario o cualquier otra persona o entidad, (v) incluir en el Web
				Site imágenes o declaraciones pornográficas o que incluyan sexo
				explícito o que sea considerada pornografía infantil en los términos
				del Decreto 1524 de 2002 (vi) incluir o colocar en el Web Site
				publicidad o anuncios publicitarios sin la debida autorización de la
				Compañía, cadenas de cartas, virus, caballos de troya, bombas de
				tiempo o cualquier programa de computador o herramienta con la
				intención de dañar, interferir, interceptar o apropiarse de
				cualquier sistema, datos o información.</span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">PROHIBICIÓN DE REVENTA, CESIÓN O USO COMERCIAL NO
			AUTORIZADO</h3>
		<p></p>
		<p class="c3">
			<span class="c5">Los usuarios acuerdan no revender o ceder sus
				derechos u obligaciones bajo estos Términos y Condiciones. También
				se comprometen a no hacer un uso comercial no autorizado de este Web
				Site.</span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">TERMINACIÓN</h3>
		<p></p>
		<p class="c3">
			<span class="c5">EL PORTAL se reserva el derecho, a su exclusiva
				discreción, de borrar toda la información que se haya incluido en el
				Web Site y de terminar inmediatamente su registro y el acceso al Web
				Site o a determinados servicios proveídos por EL PORTAL, ante el
				incumplimiento de parte de los usuarios de estos Términos y
				Condiciones o ante la imposibilidad de verificar o autenticar
				cualquier información que usted haya presentado en su forma de
				registro para acceder al Web Site. </span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">RESPONSABILIDAD DEL PORTAL</h3>
		<p></p>
		<p class="c3">
			<span class="c5">Conforme a la normatividad nacional en materia de
				derecho del consumo, en particular la Ley 1480 de 2011 y sus
				disposiciones particulares relativas a la especial protección de los
				derechos de los consumidores, EL PORTAL da cabal cumplimiento a tal
				normatividad y aclara que su énfasis está en proporcionar un
				excepcional servicio al consumidor. Sin embargo, cada usuario debe
				tener en cuenta que existen riesgos, que incluyen pero no se limitan
				a la imposibilidad de verificar de manera absoluta la identidad de
				las personas por tratarse de un medio virtual y en ese orden, los
				riesgos inherentes a &nbsp;tratar con extraños, menores de edad o
				personas que actúan bajo falsas pretensiones. </span>
		</p>
		<p class="c3">
			<span class="c5">Los usuarios asumen todos los &nbsp;riesgos
				asociados con tratar con otros usuarios con los cuales se entre en
				contacto a través del portal. El cumplimiento de los términos y
				condiciones de los contratos o acuerdos que se lleguen
				potencialmente a celebrar con otros usuarios del web site, así como
				el cumplimiento de las leyes aplicables a tales contratos o
				acuerdos, es responsabilidad exclusiva de los usuarios y no del
				PORTAL y toda relación externa, que tenga una finalidad distinta al
				cumplimiento del objeto social del PORTAL, se escapa de la esfera de
				acción de éste y por ende no está regulada por los presentes
				términos y condiciones, teniendo en cuenta que EL PORTAL no se
				involucra en las relaciones o tratos entre sus usuarios ni controla
				el comportamiento de los usuarios o participantes en el portal, en
				el evento en que se tenga una disputa con uno o más usuarios del web
				site, el o los usuarios implicados liberan al PORTAL (y a sus
				empleados y agentes) de cualquier reclamación, demanda o daño de
				cualquier naturaleza, que surja de o de cualquier otra forma se
				relacione con dicha disputa. </span>
		</p>
		<p class="c1 c10">
			<span class="c5"></span>
		</p>
		<p class="c3 c10"></p>
		<h3 class="c2">PUBLICIDAD</h3>
		<p></p>
		<p class="c3">
			<span class="c5">EL PORTAL también cuenta con un servicio de
				publicidad por medio del cual ésta se hará llegar a los clientes a
				través de &nbsp;banners, correos electrónicos, y/u otros medios. EL
				PORTAL será solidariamente responsable por toda publicidad emitida o
				que se encuentre en su página web. &nbsp;Sin embargo, con respecto
				&nbsp;a los links a otros websites de terceras personas, estos links
				o vínculos se suministran para su conveniencia únicamente y EL
				PORTAL no respalda, recomienda o asume responsabilidad alguna sobre
				el contenido de los web sites de terceras personas y únicamente es
				solidariamente responsable frente a la información que proporcione
				de manera directa acerca de los restaurantes afiliados. Si usted
				decide acceder a través de los links o vínculos a los web sites de
				terceras personas, lo hace bajo su propio riesgo.</span>
		</p>
		<p class="c1">
			<span class="c2"></span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">PROMOCIONES, CONCURSOS Y EVENTOS</h3>
		<p></p>
		<p class="c3">
			<span class="c5">Las promociones, concursos, sorteos y eventos que se
				implementen en el PORTAL estarán sujetas a las reglas y condiciones
				que en cada oportunidad se establezca, de manera anticipada por EL
				PORTAL. Bajo ningún motivo esto implica que EL PORTAL esté obligada
				a realizar algún tipo de sorteo y simplemente se regula esta
				situación ex ante, en caso de que SeekerPlus.com, de manera
				voluntaria, optase por llevar a cabo tal actividad. En caso de que
				se realice alguna promoción o concurso será necesario como requisito
				mínimo para acceder a tales oportunidades o beneficios comerciales,
				que el Usuario se encuentre debidamente registrado como usuario del
				Portal. </span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">INFORMACIÓN ADICIONAL</h3>
		<p></p>
		<p class="c3">
			<span class="c4"><u>EL PORTAL NO GARANTIZA QUE EL WEB SITE OPERE
					LIBRE DE ERRORES O QUE EL WEB SITE Y SU SERVIDOR SE ENCUENTRE LIBRE
					DE VIRUS DE COMPUTADORES U OTROS MECANISMOS DAÑINOS. SI EL USO DEL
					WEB SITE O DEL MATERIAL RESULTA EN LA NECESIDAD DE PRESTAR SERVICIO
					DE REPARACIÓN O MANTENIMIENTO A SUS EQUIPOS O INFORMACIÓN O DE
					REEMPLAZAR SUS EQUIPOS O INFORMACIÓN, EL PORTAL NO ES RESPONSABLE
					POR LOS COSTOS QUE ELLO IMPLIQUE. </u></span>
		</p>
		<p class="c3">
			<span class="c4"><u>EL WEB SITE Y EL MATERIAL SE PONEN A DISPOSICIÓN
					EN EL ESTADO EN QUE SE ENCUENTREN. EL PORTAL NO OTORGA GARANTÍA
					ALGUNA SOBRE LA EXACTITUD, CONFIABILIDAD U OPORTUNIDAD DEL
					MATERIAL, LOS SERVICIOS, LOS TEXTOS, EL SOFTWARE, LAS GRÁFICAS Y
					LOS LINKS O VÍNCULOS. </u></span>
		</p>
		<p class="c3">
			<span class="c4"><u>EN NINGÚN CASO LA COMPAÑÍA, SUS PROVEEDORES O
					CUALQUIER PERSONA MENCIONADA EN EL WEB SITE SERÁ RESPONSABLE POR
					DAÑOS DE CUALQUIER NATURALEZA, RESULTANTES DEL USO O LA
					IMPOSIBILIDAD DE USAR EL WEB SITE O EL MATERIAL. </u></span>
		</p>
		<p class="c3"></p>
		<h3 class="c2">RETRACTO</h3>
		<p></p>
		<p class="c3">
			<span class="c5">Conforme a la normatividad actual, los usuarios no
				tienen el derecho de retracto, contemplado en el artículo 47de la
				Ley 1480 de 2011, dado que se trata de bienes perecederos
				(alimentos) y de que cada bien es especialmente fabricado para el
				consumidor que lo pide. </span>
		</p>
		<p class="c3">
			<span class="c2">GARANTÍA</span>
		</p>
		<p class="c3">
			<a name="h.gjdgxs"></a><span class="c5">Si los productos no se
				ajustan a la calidad, idoneidad o seguridad propias de cada cual, el
				cliente podrá solicitar el cambio del mismo, siempre que haya
				fundamento jurídico y racional para ello. La garantía solo aplica
				para características objetivas de los productos y/o servicios que
				sean informados de manera clara a los consumidores y bajo ninguna
				circunstancia, procederá en casos subjetivos. </span>
		</p>
		<p class="c6">
			<span></span>
		</p>
	</div>
</div>
</div>
{% endblock %} {% block footer %} {{ parent() }} {% endblock %} {%
endblock %}
