{% extends '::base.html.twig' %} 
{% block title %} 
Contactenos
{% endblock %} 

{% block description %} 
Contáctese con nosotros enviandonos un mensaje.
{% endblock %} 

{% block keywords %} 
contacto seekerplus
{% endblock %} 

{% block stylesheets %} 
{{ parent() }}
{% endblock %} 

{% block javascripts %} 
{{ parent() }} 
{% endblock %} 

{% block body %} 

	{% block menu %} 
		{{ parent() }} 
	{% endblock %}

	{% block content %} 
	<div class="container page-content fg-dark">
	<h1><span class="mif-contacts-mail"></span> Contactenos</h1>
		<div class="cell">
		    <div class="input-control modern text">
		      <input id="producto_nombre" name="producto[nombre]" required="required" maxlength="100" placeholder="Nombre " type="text">
		      <span class="informer">Porfavor Ingrese su Nombre</span>
		    </div>
		  </div>
		<div class="cell">
		    <div class="input-control modern text">
		      <input id="producto_nombre" name="producto[nombre]" required="required" maxlength="100" placeholder="Email" type="text">
		      <span class="informer">Porfavor Ingrese su Email</span>
		    </div>
		  </div>
	    <div class="input-control block textarea">
	        <div class="input-control modern block text full-size" style="margin-top: 2rem;margin-bottom: 4rem;">
	      		<textarea id="producto_descripcion" name="producto[descripcion]" required="required" placeholder="Comentario"></textarea>
	    	</div>
        </div>
        <div>
        	<button class="button success">Enviar Comentario</button>
        </div>
        <br>
        <p>Estimado usuario: Es posible que los comentarios relacionados con cualquier petición, queja y/o reclamo que usted desea presentar por este medio, 
        no lleguen a través del portal de www.seekerplus.co.</p>
        <p>Por lo tanto,en caso de que su comentario no haya sido atendido por nosotros en un plazo de cinco(5) días contados desde su envío, 
        atentamente le solicitamos que nos escriba a través de los correos electrónicos 
        info@seekerimpulse.co. Lo anterior,
        con el fin de poder brindarle una atención completa, rápida y efectiva</p>
	</div>
	</div>
	{% endblock %}
	{% block footer %} 
		{{ parent() }} 
	{% endblock %}
	
{% endblock %}
