{% extends '::base.html.twig' %} 
{% block title %} 
Politicas De Privacidad de SeekerPlus
{% endblock %} 

{% block description %} 
Politicas De Privacidad de SeekerPlus.
{% endblock %} 

{% block keywords %} 
Politicas De Privacidad de SeekerPlus
{% endblock %} 

{% block stylesheets %} 
{{ parent() }}
{% endblock %} 

{% block javascripts %} 
{{ parent() }} 
{% endblock %} 

{% block body %} 

	{% block menu %} 
		{{ parent() }} 
	{% endblock %}

	{% block content %} 
	<div class="container page-content">
	<div class="content clearfix" style="width: auto">
    <h1 style="font-size:35px;">Política de Privacidad</h1>
    <strong>Protegemos su información personal y sus datos</strong><br>
    <br>
    Debido a la actividad comercial que desarrolla SEEKERPLUS, ésta recoge y, en algunos casos, comunica información sobre los Usuarios de su Sitio web. En ese orden de ideas la siguiente Política de Privacidad tiene como objetivo brindarles a sus usuarios un panorama claro respecto de los datos personales que SEEKERPLUS recauda, el tratamiento que da a los mismos y los procedimientos que éstos tienen a su alcance para poder hacer efectivos los derechos derivados de aquellos.&nbsp;<br>
    <br>
    <strong>1. Responsable del tratamiento y/o uso de los datos personales.</strong><br>
    La persona jurídica que responde por los datos personales suministrados a SEEKERPLUS, y por tanto de la base de datos en la cual se encuentren ubicados los mismos, es la sociedad INVERSIONES CMR S.A.S., sociedad identificada con N.I.T 900.129.597-5 y con Domicilio principal en la dirección Calle 94 # 16 - 60 de la ciudad de Bogotá D.C., Colombia. Cuyo teléfono y mail de contacto son, (571) 5201445 y jose@clickdelivery.com, respectivamente.&nbsp;<br><br>

    <strong>2. Protegiéndolo.</strong><br>
    SEEKERPLUS está comprometida en proteger su privacidad. En esta Política de Privacidad se describe la información que SEEKERPLUS recoge sobre sus Usuarios y visitantes y lo que puede ocurrir con dicha información. Si no está de acuerdo con esta Política de Privacidad no utilice el Sitio.&nbsp;<br><br>

    Nuestra Política de Privacidad asegura que cualquier información que nos provea será mantenida privada y segura. Para dar fe de esto, en este documento proveemos los detalles de la información que recabamos y de qué manera la utilizamos. Nunca recolectaremos información sin su consentimiento explícito.&nbsp;<br><br> 

    Este documento es parte integral de los Términos y Condiciones de SEEKERPLUS. Mediante la aceptación de los Términos y Condiciones el Usuario acepta las Políticas de Privacidad aquí contenidas.&nbsp;<br><br>
     
    <strong>3. La información que recabamos.</strong><br>
    Recabamos información de identificación personal (IP), la cual incluye pero no se limita a, el e-mail, celular, teléfono y dirección de residencia. Esta información es cedida voluntariamente durante el proceso de registro o en respuesta a requerimientos explícitos presentados por SEEKERPLUS.&nbsp;<br><br>

    También podemos recabar su dirección de IP (Internet Protocol) para ayudar a diagnosticar problemas con nuestro servidor, y para administrar el Sitio. Una dirección de IP es un número que se le asigna a su computadora cuando usa internet. Su dirección de IP también es utilizada para ayudar a identificarle dentro de una sesión particular y para recolectar información demográfica general.&nbsp;<br><br> 

    Se establece que en cualquier momento los Usuarios de SEEKERPLUS podrán solicitar la baja de su cuenta e información de la base de datos de SEEKERPLUS por medio del procedimiento destinado para tal efecto que se detalla más adelante en este escrito.&nbsp;<br><br> 

    SEEKERPLUS recoge y almacena automáticamente cierta información sobre la actividad de los Usuarios dentro de nuestro Sitio web. Tal información puede incluir la URL de la que provienen (estén o no en nuestro Sitio web), a qué URL acceden seguidamente (estén o no en nuestro Sitio web), qué navegador están usando, así como también las páginas visitadas, las búsquedas realizadas, las publicaciones, compras o ventas, mensajes, etc.&nbsp;<br><br>

    <strong>4. Derechos que le asisten como titular de la información.</strong><br>
    Conforme a lo establecido en el artículo 8 de la Ley 1581 de 2012, a usted como titular de todos los datos personales suministrados le asisten los siguientes derechos.&nbsp;<br><br>

    a) Conocer, actualizar y rectificar todos sus datos personales que obren en la base de datos de SEEKERPLUS.<br> 
    <br> 
    b) Solicitar prueba de la autorización otorgada a SEEKERPLUS.<br> 
    <br> 
    c) Ser informado por SEEKERPLUS, previa solicitud escrita, respecto del uso que le ha dado a sus datos personales.<br> 
    <br> 
    d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley 1581 de 2012, el Decreto 1377 de 2013 y demás normas que las modifiquen y/o complementen.<br> 
    <br> 
    e) Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales.<br> 
    <br>
    <strong>5. Tratamiento y/o Uso que hacemos de la información.</strong><br>
    En virtud de la calidad de intermediador que SEEKERPLUS ostenta entre los consumidores (Usuarios) y los oferentes de los productos –léase restaurantes y demás establecimientos expendedores de comida-, y principalmente con el fin de suministrar un excelente servicio para que los Usuarios puedan realizar operaciones en forma ágil y segura, SEEKERPLUS solicita y almacena ciertos datos de carácter personal.&nbsp;<br><br>

    El propósito final y último de la recolección de esta información se funda en la base de que nuestra relación de intermediación se pueda concretar exitosamente. Es decir, la información que recolectamos de usted se recaba y guarda con el fin de poder suministrar esta información a los restaurantes afiliados, de manera tal que la relación de final de consumo, entre consumidor y oferente del producto, se pueda concretar de manera exitosa. Lo anterior no obsta para que, así mismo, esta información pueda ser utilizada por la compañía para que SEEKERPLUS pueda ofrecerle a usted servicios y funcionalidades que se adecuan mejor a sus necesidades. Asimismo le permite a SEEKERPLUS hacerle llegar por distintos medios y vías (incluyendo mail, SMS, etc.) información de ofertas, de productos y servicios que creamos pueden serle de interés.&nbsp;<br><br>

    Teniendo en mente lo anterior, los Datos Personales que recabamos tienen las siguientes finalidades:&nbsp;<br><br>
     
    - Suministrar a los restaurantes, y demás oferentes de los productos, la información que sea necesaria para poder concretar la relación de consumo que se haya adquirido.<br>
     <br> 
    - Ponernos en contacto directo con Usted cada vez que SEEKERPLUS lo considere conveniente con el fin de ofrecerle por distintos medios y vías (incluyendo mail, SMS, etc.) ofertas  de distintos otros productos y/o servicios.<br>
    <br> 
    - Desarrollar estudios internos sobre los intereses, el comportamiento y la demografía de los Usuarios con el objetivo de comprender mejor sus necesidades e intereses y darle un mejor servicio o proveerles información relacionada.<br> 
    <br> 
    - Mejorar nuestras iniciativas comerciales y promocionales para analizar las páginas más visitadas por los Usuarios, las búsquedas realizadas, perfeccionar nuestra oferta de contenidos, personalizar dichos contenidos, presentación y servicios.<br> 
    <br> 
    - Enviar información o mensajes sobre nuevos productos y/o servicios, mostrar publicidad o promociones, banners, de interés para nuestros Usuarios, noticias sobre SEEKERPLUS, además de toda otra información que creamos conveniente. Si el Usuario lo prefiere, puede solicitar que lo excluyan de las listas para el envío de información promocional o publicitaria.<br> 
    <br> 
    - Compartir los Datos Personales con empresas de servicios o empresas de "outsourcing" que contribuyan a mejorar o a facilitar las operaciones a través de SEEKERPLUS, como (sin limitarse a) medios de pago, seguros o intermediarios en la gestión de pagos, entre otros. Estas compañías o sitios de Internet generalmente tienen políticas sobre confidencialidad de la información similar a las nuestras. Sin embargo, SEEKERPLUS velará porque se cumplan ciertos estándares, mediante la firma de acuerdos o convenios cuyo objeto sea la privacidad de los Datos Personales de nuestros Usuarios. No obstante, SEEKERPLUS no se hace responsable por el uso indebido de los Datos Personales del Usuario que hagan estas compañías o sitios de Internet. En algunos casos, estos proveedores de servicios serán quienes recojan información directamente del Usuario (por ejemplo si les solicitamos que realicen encuestas o estudios). En tales casos, recibirá una notificación acerca de la participación de un proveedor de servicios en tales actividades, y quedará a discreción del Usuario toda la información que quiera brindarle y los usos adicionales que los proveedores decidan hacer. En caso de que Usted facilite, por propia iniciativa información adicional a dichos prestadores de servicios directamente, tales prestadores usarán esa información conforme a sus propias políticas de privacidad.<br>
    <br> 
    - Suministrar los Datos Personales de los Usuarios a las entidades que intervengan en la resolución de disputas entre los mismos, tales como: Compañías de Seguros o tribunales competentes para solucionar tales disputas.<br>
     <br>
    <strong>6. Confidencialidad de la información.</strong><br>
    Los datos de los Usuarios serán suministrados únicamente por SEEKERPLUS en las formas establecidas en estas Políticas de Privacidad. SEEKERPLUS hará todo lo que esté a su alcance para proteger la privacidad de la información. Puede suceder que en virtud de órdenes judiciales, o de regulaciones legales, SEEKERPLUS se vea compelido a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos que terceras partes puedan interceptar o acceder a cierta información o transmisiones de datos en cuyo caso SEEKERPLUS no responderá por la información que sea revelada.&nbsp;<br><br>

    <strong>7. Menores de Edad.</strong><br>
    Nuestros servicios sólo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar información personal para ser incluida en nuestras bases de datos.&nbsp;<br><br>

    <strong>8. Cookies.</strong><br>
    El Usuario del Sitio web de SEEKERPLUS conoce y acepta que SEEKERPLUS podrá utilizar un sistema de seguimiento mediante la utilización de cookies (las "Cookies"). Las Cookies son pequeños archivos que se instalan en el disco rígido, con una duración limitada en el tiempo que ayudan a personalizar los servicios. También ofrecemos ciertas funcionalidades que sólo están disponibles mediante el empleo de Cookies. Las Cookies se utilizan con el fin de conocer los intereses, el comportamiento y la demografía de quienes visitan o son visitantes de nuestro Sitio web y de esa forma, comprender mejor sus necesidades e intereses y darles un mejor servicio o proveerle información relacionada. También usaremos la información obtenida por intermedio de las Cookies para analizar las páginas navegadas por el visitante o Usuario, las búsquedas realizadas, mejorar nuestras iniciativas comerciales y promocionales, mostrar publicidad o promociones, banners de interés, noticias sobre SEEKERPLUS, perfeccionar nuestra oferta de contenidos y artículos, personalizar dichos contenidos, presentación y servicios. Adicionalmente SEEKERPLUS utiliza las Cookies para que el Usuario no tenga que introducir su clave tan frecuentemente durante una sesión de navegación, también para contabilizar y corroborar las registraciones, la actividad del Usuario y otros conceptos y acuerdos comerciales, siempre teniendo como objetivo de la instalación de las Cookies, el beneficio del Usuario que la recibe, y no será usado con otros fines ajenos a SEEKERPLUS. Se establece que la instalación, permanencia y existencia de las Cookies en el computador del Usuario o del visitante depende de su exclusiva voluntad y puede ser eliminada de su computador cuando así lo desee. Para saber cómo quitar las Cookies del sistema es necesario revisar la sección Ayuda (Help) del navegador. También, se pueden encontrar Cookies u otros sistemas similares instalados por terceros en ciertas páginas de nuestro Sitio. SEEKERPLUS no controla el uso de Cookies por terceros.&nbsp;<br><br>

    <strong>9. E-mails.</strong><br>
    Podemos enviarle e-mails como parte de un proceso inherente al desarrollo y prestación de nuestros servicios, o bien podríamos enviarles e-mail´s en las siguientes circunstancias:<br>
    Luego del proceso de registro, notificándole los datos de su cuenta.<br>
    Los e-mails establecidos en los TERMINOS Y CONDICIONES de esta página, en lo referente al procedimiento de pedido –léase mail de recepción de la orden de pedido, de confirmación de pedido, etc.– <br>
    E-mails con recordatorios de los servicios que ofrecemos (especialmente aquellos que aún no haya utilizado o no haya utilizado en un tiempo considerable).<br> 
    Como parte de un Newsletter.<br>
    Como e-mails promocionales.<br>
    Para ofrecer servicios relacionados. De todas maneras, en cada uno de los e-mails que enviemos siempre ofreceremos la posibilidad de cancelar la suscripción (opt-out) para dejar de recibir e-mails en el futuro.&nbsp;<br><br>
     
    Empleamos diversas técnicas de seguridad para proteger tales datos de accesos no autorizados por visitantes del Sitio de dentro o fuera de nuestra compañía. Sin embargo, es necesario tener en cuenta que la seguridad perfecta no existe en Internet. Por ello, SEEKERPLUS no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas. SEEKERPLUS, tampoco se hace responsable por la indebida utilización de la información obtenida por esos medios.&nbsp;<br><br>

    <strong>11. Transferencia en circunstancias especiales.</strong><br>
    Si existe una venta, una fusión, consolidación, cambio en el control societario, transferencia de activos sustancial, reorganización o liquidación de SEEKERPLUS entonces, en nuestra discreción, podemos transferir, vender o asignar la información recabada en este Sitio a una o más partes relevantes.&nbsp;<br><br>

    <strong>12. Área responsable de las atenciones: Servicio al Cliente.</strong><br>
    En dado caso de querer ejercer los derechos que le asisten como titular de la información por favor no dude en contactar a nuestro departamento de Servicio al Cliente quien con mucho gusto escuchará su petición y se encargará de darle el trámite y debido curso interno al interior de la empresa.&nbsp;<br><br>

    <strong>12.1. Procedimiento para que los usuarios puedan ejercer sus derechos.</strong>
    SEEKERPLUS dispone de los siguientes mecanismos para dar un efectivo trámite a su petición. En cualquier momento los usuarios podrán contactarse con nuestro servicio al cliente a elevar las peticiones y solicitudes que a bien tengan. Esta petición se podrá realizar bien sea por correo electrónico dirigido a servicioalcliente@SEEKERPLUS, o bien por comunicación escrita dirigida al mismo departamento a la dirección Calle 94 # 16 - 60 de la ciudad de Bogotá D.C., Colombia&nbsp;<br><br>

    En el mail y/o carta escrita se deberá explicitar la petición de manera clara y concreta, de manera tal que nos sea posible conocer y entender cuál es la intención final del usuario (actualización, supresión, rectificación de datos personales y/o revocatoria de la autorización, entre otros). Lo anterior con el fin de que podamos brindarle a su solicitud la respuesta más eficiente y efectiva que nos sea posible. Junto a la petición concreta la comunicación deberá incluir el nombre completo del titular y la cédula, de manera tal que podamos determinar quien realiza la petición y respecto de los datos personales de quién se habrá de realizar el trámite.&nbsp;<br><br>

    En todo caso, SEEKERPLUS se compromete a brindarle una respuesta a su solicitud dentro de un término de 5 a 10 días hábiles, inclusives.&nbsp;<br><br>

    <strong>12.2. Trámite especial para el ejercicio del derecho de acceso.</strong><br>
    En cualquier momento los usuarios de SEEKERPLUS podrán exigir mediante comunicación escrita, bien sea física o mediante correo electrónico, que la empresa les suministre, o les facilite el acceso, a los datos personales que ésta tenga en su poder.&nbsp;<br><br>

    Este derecho podrá ser ejercido una vez al mes y/o cada vez que SEEKERPLUS realice modificaciones sustanciales a esta Política de Privacidad. El término de respuesta establecido para estos trámites se solucionará dentro de los mismos 5 a 10 días hábiles, inclusives.&nbsp;<br><br>

    <strong>12.3. Trámite especial para reclamos.</strong><br>
    El titular de los datos, o quien por ley o autorización se encuentre facultado para tal efecto, podrá elevar ante SEEKERPLUS un reclamo escrito en donde se incluya la identificación del Titular, la descripción de los hechos que dan lugar al reclamo, la dirección, y acompañando los documentos que se quieran hacer valer.&nbsp;<br><br> 

    Para todos los efectos especiales de su trámite éstos se regirán por lo contemplado en el artículo 15 de la Ley 1581 de 2012.&nbsp;<br><br>

    <strong>13. Modificaciones de las Políticas de Privacidad.</strong><br>
    SEEKERPLUS podrá modificar en cualquier momento los términos y condiciones de estas Políticas de Privacidad y confidencialidad. Cualquier cambio será efectivo apenas sea publicado en el Sitio. Dependiendo de la naturaleza del cambio podremos anunciar el mismo a través de: (a) la página de inicio del Sitio, o (b) un e-mail. De todas maneras, el continuo uso de nuestro Sitio implica la aceptación por parte del Usuario de los Términos de esta Política de Privacidad. Si usted. no está de acuerdo con la Política de Privacidad vigente absténgase de utilizar el Sitio.&nbsp;<br><br>

    <strong>14. Disposiciones finales.</strong><br>
    La presente Política de Privacidad tendrá plena vigencia y efectos a partir del 1 de julio del 2015.


  <!-- END OF CONTENT -->
  </div>	
	</div>
	</div>
	{% endblock %}
	{% block footer %} 
		{{ parent() }} 
	{% endblock %}
	
{% endblock %}
